@font-face {
  font-family: "Regular";
  src: url("fonts/Kanit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Light";
  src: url("fonts/Kanit-Light.ttf");
}

.container {
  font-family: Regular;
  width: 100%;
  height: 100vh;
  background: #821432;
  background: url("../public/background_register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundPeople {
  width: 100%;
  position: absolute;
  height: 550px;
  background: url("../public/background_register_people.png");
  opacity: 0.4;
  background-size: cover;
  left: 0px;
  bottom: 0;
  background-repeat: no-repeat;
}

.box {
  margin-left: auto;
  margin-right: auto;
  width: 27%;
  padding: 50px;
  padding-bottom: 80px;
  background: rgba(0, 0, 0, 0.5);
  top: 13%;
  text-align: center;
  position: relative;
  z-index: 10;
}

.box span {
  color: white;
  font-size: 20px;
  font-family: Light;
}
.box span span {
  font-size: 36px;
  letter-spacing: 0.5px;
  color: #a71a40;
}

.box .user_box {
  position: relative;
}
.box .user_box input {
  font-family: Light;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  letter-spacing: 2.5px;
}
.box .user_box label {
  font-family: Light;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  letter-spacing: 1px;
}
.box .user_box input:focus {
  border-bottom: 1px solid #03e9f4;
}
.box .user_box input:focus ~ label,
.box .user_box input:valid ~ label {
  top: -30px;
  left: 0;
  color: #03e9f4;
  font-size: 14px;
}

.box .btn{
  font-family: Regular;
  margin-top: 10px;
  cursor: pointer;
  padding: 9px 0;
  width: 100%;
  font-size: 16px;
  background: white;
  position: relative;
  transition: .2s;
}

.btn .backgroundBtn{
    top: 0;
    left: 0;
    width: 0%;
    position: absolute;
    background: #C2033D;
    height: 100%;
}

.btn:hover{
    transition-delay: .2s;
    background: #C2033D;
    color: white;
}
.btn:hover > .backgroundBtn{
    animation: backgroundAnimation .4s;
}

@keyframes backgroundAnimation{
    0%{width: 0%;}
    75%{font-size: 18px;}
    100%{width: 100%;}
}

@media only screen and (max-width: 400px) {
  .backgroundPeople {
    height: 350px;
  }
}
